# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
ENV/

# Poetry
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.bak
*.swp
*.swo

# Test/coverage
.coverage
.cache/
.pytest_cache/
htmlcov/
.tox/

# Build artifacts
build/
dist/
*.egg-info/
*.egg